.main-container {
    text-align: center;
}

.csv-selector {
    border: 5px solid gray;
    display: flex;
    flex-direction: column;
    align-items: center;  
    justify-content: center;
    gap: 8px;   
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.settings-container {
    background-color: #e9f7ef;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 16px;
    margin: 12px 0;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 1000px;
}

button {
    padding: 8px 12px;
    margin: 4px;
    border: none;
    background-color: #4caf50;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
}